.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
}

.header-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: pulse 1.5s infinite;
}



.username-span {
    font-size: 2rem;
    color: #112b50;
}

.welcome-promt {
    font-size: 3rem;
    color: darkgreen;
    padding: 15px 30px;
    border-radius: 10px;
}

.nav-links-menu {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
}
.nav-links-menu a{
    background: linear-gradient(45deg, #6b92e3, #3b5de1);
}

.nav-links-menu a:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


